<section data-ng-controller="HomeController">
	<br>
	<div class="panel panel-default">
		<div class="panel-heading">Automatycznie generowana dokumentacja:</div>
		<div class="panel-body">
			<ul>
				<li><a href="/api/docs">REST API</a></li>
				<li><a href="/readme">Readme.md</a></li>
				<li><a href="/tests/coverage/report">Test coverage</a></li>
			</ul>
		</div>
	</div>
	<br>
	<div class="panel panel-default">
		<div class="panel-heading">Przykładowy klient</div>
		<div class="panel-body">
			klienta
		</div>
	</div>
	
</section>